<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Translate</servlet-name>
        <servlet-class>servlets.Translate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Change</servlet-name>
        <servlet-class>servlets.Change</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clear</servlet-name>
        <servlet-class>servlets.Clear</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>Select</servlet-name>
        <servlet-class>servlets.Select</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Translate</servlet-name>
        <url-pattern>/Translate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Change</servlet-name>
        <url-pattern>/Change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clear</servlet-name>
        <url-pattern>/Clear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Select</servlet-name>
        <url-pattern>/Select</url-pattern>
    </servlet-mapping>
    
    <context-param>
        <param-name>driver</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:derby://localhost:1527/MorseEnglishDB</param-value>
    </context-param>
    <context-param>
        <param-name>login</param-name>
        <param-value>patryk</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>patryk</param-value>
    </context-param>
    
</web-app>
